#cartContainer {
  align-items: center;
  display: block;
  margin: 1rem 1rem 1.75rem 1.75rem;
  height: 74.5%;
}

#cart-header {
  display: block;
  margin: 1.25rem;
  text-align: center;
  font-size: 34px;
  font-family: 'Lobster Two', cursive;
  color: #6c4403;
  letter-spacing: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#cartProductContainer {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem 2rem;
  border: 7px double #a77327;
  box-shadow: 2px 2px 5px #9e6805;
  height: 72%;
  overflow-y: scroll;
  border-radius: 15px;
}

.cartProductCard {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  padding: 0.25rem;
  margin: 0rem;
  border: 1px solid #a77327;
  width: 100%;
  border-right: none;
  border-left: none;
}

#cartInfo {
  font-family: 'Lobster Two', cursive;
  display: block;
  margin: 1.25rem;
  text-align: center;
  color: wheat;
  letter-spacing: 2px;
  font-size: 26px;
  margin: 1rem;
}

#cartInfo > p {
  margin: 2rem;
  color: #6c4403;
}

#orderButtons > button {
  color: wheat;
  background-color: #8b5907;
  width: auto;
  border: 2px solid #814109;
  box-shadow: 0px 0px 7px #3b2506;
  cursor: pointer;
  height: 2rem;
  border-radius: 10px;
  width: 8rem;
}

#orderButtons {
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.productImage {
  border-radius: 50%;
  width: 50%;
  height: 50%;
}

#cart-img {
  padding: 1rem;
  padding-left: 3rem;
  /* margin: auto; */
}

#cart-details {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  font-family: 'Just Another Hand', cursive;
  font-size: 25px;
  color: #6c4403;
  text-shadow: 0px 0px 0px #6c4403;
  letter-spacing: 1px;
}

#cart-details > h5 p {
  margin: 1.75rem;
}

#cart-details > h5 {
  font-size: 34px;
  letter-spacing: 2px;
  margin: 1rem 0;
}

#cart-price {
  margin: 1rem 0;
}

.quantityFields > input {
  font-family: 'Just Another Hand', cursive;
  font-size: 32px;
  color: #6c4403;
  text-shadow: 0px 0px 0px #6c4403;
  letter-spacing: 1px;

  cursor: pointer;
  padding-left: 2rem;
}

#cart-remove {
  color: wheat;
  background-color: #8b5907;
  border: 2px solid #814109;
  box-shadow: 0px 0px 7px #3b2506;
  cursor: pointer;
  border-radius: 10px;
  height: 2rem;
  width: 14rem;
}

.empty-pot {
  font-family: 'Just Another Hand', cursive;
  font-size: 34px;
  color: #6c4403;
  text-shadow: 0px 0px 0px #6c4403;
  letter-spacing: 2px;

  text-align: center;
  margin: 4rem;
}

#cartProductContainer::-webkit-scrollbar {
  width: 1vh;
  background-color: #f5f5f500;
  border-radius: 2vh;
  cursor: pointer;
}

#cartProductContainer::-webkit-scrollbar-thumb {
  border-radius: 5vh;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#ed8f00),
    to(#ed8f00),
    color-stop(0.6, #ffebcd)
  );
  cursor: pointer;
}

#cartProductContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #816a4152;
  border-radius: 1vh;
}

#checkoutPageContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  height: 79%;
}

/* #checkoutTitle{

} */

#checkoutHeading{
  text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
  font-family: 'Lobster Two', cursive;
  color: #a0520f;
  width: 50%;
  margin-bottom: 2%;
}

#checkoutTotal{
  text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
  font-family: 'Lobster Two', cursive;
  width: 50%;
  margin-bottom: 5%;
  font-size: 26px;
  color: #bf7c008f;
}

#checkoutAccount{
  font-family: 'Just Another Hand', cursive;
  text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
  width: 50%;
  margin-bottom: 2%;
  font-size: 26px;
  color: #6c4403;
}

#checkoutReturnButton{
  text-decoration: none;
  color: wheat;
  background-color: #8b5907;
  width: 500px;
  border: 2px solid #814109;
  box-shadow: 0px 0px 5px #3b2506;
  cursor: pointer;
  align-self: center;
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
  line-height: 1px;
  letter-spacing: 1px;
  font-family: 'Niconne', cursive;
  height: 40px;
  font-size: 26px;
}