@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Lobster+Two:ital@1&family=Niconne&display=swap');

div#Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1437px;
  height: 164px;
  box-shadow: 0px 0px 10px #9e68059e;
}

#macLogo {
  height: 110px;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1437px;
  height: 50px;
  border-top: 7px double #a77327;
  border-bottom: 7px double #a77327;
}

.leftOfNavbar {
  width: 300px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftOfNavbar h2 {
  height: 26px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Lobster Two', cursive;
  color: #a0520f;
}

.navImg {
  height: 30px;
  padding-left: 20px;
  padding-right: 10px;
  color: beige;
  margin-bottom: 2px;
}

h2 a {
  text-decoration: none;
  padding-left: 10px;
  color: #bf7c00;
  letter-spacing: 2px;
  cursor: pointer;
}

h2 a:active {
  margin: 6px 0px 2px 0px;
}

h2 a:hover {
  color: #674403;
  text-shadow: -2px 0px 2px #f3b542;
}

.navBar {
  height: 36px;
  width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navBar a {
  text-decoration: none;
  font-size: 18px;
  color: #674403;
  cursor: pointer;
  font-family: 'Lobster Two', cursive;
  font-weight: bolder;
  height: 36px;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 170px;
}

.navBar a:active {
  margin: 6px 0px 2px 0px;
}

.navBar a:hover {
  color: #674403;
  text-shadow: -2px 0px 2px #f3b542;
}

.rightOfNavbar {
  width: 300px;
  height: 36px;
  display: flex;
  justify-content: center;
}

.rightOfNavbar button {
  color: wheat;
  background-color: #8b5907;
  width: 100px;
  border: 2px solid #814109;
  box-shadow: 0px 0px 7px #3b2506;
  cursor: pointer;
  align-self: center;
  height: 24px;
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
  font-size: 18px;
  line-height: 1px;
  letter-spacing: 1px;
  font-family: 'Niconne', cursive;
}

.rightOfNavbar button:active {
  margin: 3px 0px 2px 0px;
}
