div.landingPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hook {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.hook h1 {
  letter-spacing: 2px;
  font-family: 'Lobster Two', cursive;
  color: #674403;
  text-shadow: -1px -1px 9px #ed9003;
  font-size: 35px;
}

.hook p {
  letter-spacing: 1px;
  font-family: 'Just Another Hand', cursive;
  font-size: 28px;
  color: #6c4403;
}

.landingPageContainer img {
  height: 300px;
  margin-top: 10px;
}

.landingPageContainer button {
  color: #f5deb3;
  background-color: #8b5907;
  width: 500px;
  border: 2px solid #814109;
  box-shadow: 0px 0px 7px #3b2506;
  cursor: pointer;
  align-self: center;
  border-radius: 10px;
  padding: 5px;
  line-height: 1px;
  letter-spacing: 2px;
  font-family: 'Lobster Two', cursive;
  margin-top: 20px;
  height: 40px;
  font-size: 26px;
  word-spacing: 14px;
}

.landingPageContainer button:active {
  margin: 26px 0px 2px 0px;
}

.macHistory {
  display: flex;
  flex-direction: column;
  height: 225px;
  width: 1400px;
  border: 2px solid #a0520f;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 0px 3px 6px #9e6805;
  padding: 20px;
  overflow: hidden;
}

.macHistory p {
  letter-spacing: 1px;
  font-family: 'Just Another Hand', cursive;
  font-size: 30px;
  color: #6c4403;
  margin-top: 15px;
  margin-right: 15px;
}

.macScrollbar {
  height: 210px;
  width: 1350px;
  overflow-y: scroll;
}

.macScrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f500;
  border-radius: 15px;
  cursor: pointer;
}

.macScrollbar::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#ed8f00),
    to(#ed8f00),
    color-stop(0.6, #ffebcd)
  );
  cursor: pointer;
}

.macScrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #816a4152;
  border-radius: 10px;
}

.macFollow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  width: 900px;
}

.macFollow h2 {
  text-align: center;
  align-self: center;
  font-size: 27px;
  letter-spacing: 2px;
  font-family: 'Lobster Two', cursive;
  color: #a0520f;
}

a#macFacebook {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43px;
}

#facebookImg {
  height: 45px;
  width: 45px;
  margin-left: 15px;
  margin-top: 0px;
  box-shadow: 0px 0px 6px #cc8608;
  border-radius: 50px;
}
