div.landingPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 78vh;
}

.hook {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vh;
}

.hook h1 {
  letter-spacing: 0.2vh;
  font-family: 'Lobster Two', cursive;
  color: #674403;
  text-shadow: -0.1vh -0.1vh 0.9vh #ed9003;
  font-size: 3.5vh;
}

.hook p {
  letter-spacing: 0.1vh;
  font-family: 'Just Another Hand', cursive;
  font-size: 2.8vh;
  color: #6c4403;
}

.landingPageContainer img {
  height: 30vh;
  margin-top: 1vh;
}

.landingPageContainer button {
  color: #f5deb3;
  background-color: #8b5907;
  width: 50vh;
  border: 0.3vh solid #814109;
  box-shadow: 0vh 0vh 0.7vh #3b2506;
  cursor: pointer;
  align-self: center;
  border-radius: 2vh;
  padding: 0.5vh;
  line-height: 0.1vh;
  letter-spacing: 0.2vh;
  font-family: 'Lobster Two', cursive;
  margin-top: 2vh;
  height: 4vh;
  font-size: 2.6vh;
  word-spacing: 1.4vh;
}

.landingPageContainer button:active {
  margin: 2.6vh 0vh 2vh 0vh;
}

.macHistory {
  display: flex;
  flex-direction: column;
  height: 23.5vh;
  width: 150vh;
  border: 0.2vh solid #a0520f;
  border-radius: 2vh;
  margin-top: 1vh;
  box-shadow: 0vh 0.3vh 0.6vh #9e6805;
  padding: 2vh;
  overflow: hidden;
}

.macHistory p {
  letter-spacing: 1px;
  font-family: 'Just Another Hand', cursive;
  font-size: 30px;
  color: #6c4403;
  margin-top: 15px;
  margin-right: 15px;
}

.macScrollbar {
  height: 20vh;
  width: 145vh;
  overflow-y: scroll;
}

.macScrollbar::-webkit-scrollbar {
  width: 1vh;
  background-color: #f5f5f500;
  border-radius: 2vh;
  cursor: pointer;
}

.macScrollbar::-webkit-scrollbar-thumb {
  border-radius: 5vh;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#ed8f00),
    to(#ed8f00),
    color-stop(0.6, #ffebcd)
  );
  cursor: pointer;
}

.macScrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #816a4152;
  border-radius: 1vh;
}

.macFollow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1.2vh;
  width: 90vh;
}

.macFollow h2 {
  text-align: center;
  align-self: center;
  font-size: 2.7vh;
  letter-spacing: 0.2vh;
  font-family: 'Lobster Two', cursive;
  color: #a0520f;
}

a#macFacebook {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.3vh;
}
#facebookImg {
  height: 4.5vh;
  width: 4.5vh;
  margin-left: 1.5vh;
  margin-top: 0vh;
  box-shadow: 0vh 0vh 0.6vh #cc8608;
  border-radius: 5vh;
}
