@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Lobster+Two:ital@1&family=Niconne&display=swap');

#register {
  display: flex;
  justify-content: center;
}

#login {
  display: flex;
  justify-content: center;
}

/* #login .auth-form {
  height: 365px;
} */

.auth-form {
  font-family: 'Lobster Two', cursive;
  margin: 4rem;
  border: 2px solid #a0520f;
  border-radius: 2%;
  width: 640px;
  height: 25%;
}

.auth-header {
  font-size: 36px;
  color: #6c4403;
  text-shadow: 1px 1px 1px #ff7600;
  text-align: center;
  margin: 30px 15px 0px 15px;
}

.auth-form h3{
  color: #6c4403;
  text-align: center;
  margin: 0px 15px 15px 15px;
}

.auth-box {
  font-family: sans-serif;
  margin: 5px;
  color: #6c4403;
  border-bottom: 3px solid #a0520f;
}

.auth-box-last{
  margin: 5px 5px 10px 5px;
}

label.auth-label {
  font-family: 'Lobster Two', cursive;
  font-weight: bolder;
  font-size: 24px;
  color: #c77e00;
  text-shadow: 0px 0px 0px #6c4403;
  letter-spacing: 1px;
}

.auth-input {
  text-align: left;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  width: 370px;
  font-family: 'Just Another Hand', cursive;
  font-size: 25px;
  color: #6c4403;
  text-shadow: 0px 0px 0px #6c4403;
  letter-spacing: 1px;
  cursor: text;
  border: none;
}

.auth-button {
  color: wheat;
  background-color: #8b5907;
  width: 500px;
  border: 2px solid #814109;
  box-shadow: 0px 0px 5px #3b2506;
  cursor: pointer;
  align-self: center;
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
  line-height: 1px;
  letter-spacing: 1px;
  font-family: 'Niconne', cursive;
  height: 40px;
  font-size: 26px;
}

.auth-button:hover {
  color: #bf7c00;
  /* margin: 30px 0px 2px 0px; */
}

.auth-button:active {
  /* padding-top: 10px; */
  /* margin: 30px 0px 2px 0px; */
}

.accountCheck {
  align-self: center;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}

h2.memberCheck {
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Lobster Two', cursive;
  color: #a0520f;
}

.accountCheck a {
  text-decoration: none;
  padding-left: 10px;
  color: #bf7c00;
  letter-spacing: 2px;
  cursor: pointer;
}

.accountCheck a:hover {
  color: #674403;
  text-shadow: -2px 0px 2px #f3b542;
}
