@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Lobster+Two:ital@1&family=Niconne&display=swap');

#register,
#login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78vh;
}

/* #login .auth-form {
  height: 365px;
} */

.auth-form {
  font-family: 'Lobster Two', cursive;
  margin: 4vh;
  border: 0.2vh solid #a0520f;
  border-radius: 2vh;
  width: 67vh;
  height: fit-content;
}

.auth-header {
  font-size: 3.6vh;
  color: #6c4403;
  text-shadow: 0.1vh 0.1vh 0.1vh #ff7600;
  text-align: center;
  margin: 3vh 1.5vh 0vh 1.5vh;
}

.auth-form h3 {
  color: #6c4403;
  text-align: center;
  margin: 0px 15px 15px 15px;
}

.auth-box {
  margin: 0.5vh;
  color: #6c4403;
  border-bottom: 0.3vh solid #a0520f;
}

label.auth-label {
  font-family: 'Lobster Two', cursive;
  font-weight: bolder;
  font-size: 2.4vh;
  color: #c77e00;
  text-shadow: 0vh 0vh 0vh #6c4403;
  letter-spacing: 0.1vh;
}

.auth-input {
  text-align: left;
  padding: 0.5vh;
  padding-left: 1vh;
  background-color: rgb(255, 255, 255);
  width: 43vh;
  font-family: 'Just Another Hand', cursive;
  font-size: 3vh;
  color: #6c4403;
  text-shadow: 0vh 0vh 0vh #6c4403;
  letter-spacing: 0.1vh;
  cursor: text;
  border: none;
}

.auth-button {
  color: wheat;
  background-color: #8b5907;
  width: 50vh;
  border: 0.3vh solid #814109;
  box-shadow: 0vh 0vh 0.5vh #3b2506;
  cursor: pointer;
  align-self: center;
  margin: 0.5vh;
  border-radius: 10vh;
  padding: 0.5vh;
  line-height: 0.1vh;
  letter-spacing: 0.1vh;
  font-family: 'Niconne', cursive;
  height: 4vh;
  font-size: 3vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

/* .auth-button:active {
  padding-top: 10px;
  margin: 30px 0px 2px 0px;
} */

.accountCheck {
  align-self: center;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}

h2.memberCheck {
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Lobster Two', cursive;
  color: #a0520f;
}

.accountCheck a {
  text-decoration: none;
  padding-left: 10px;
  color: #bf7c00;
  letter-spacing: 2px;
  cursor: pointer;
}

.accountCheck a:hover {
  color: #674403;
  text-shadow: -2px 0px 2px #f3b542;
}
